.ProductoD{
    text-align: center;
    margin-top: 210px;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
}
.slide{

    top: 20px;
    bottom: 20px;
    margin: auto;
    padding: auto;
    width: 665px;
    height: 665px;
}
.Imagenes{
    margin: 20px;
    margin-left: 90px;
    border: 60px;
    border-spacing: 60px;
}
.Imagen1{
    padding: 20px;
    }