<style>
    
#hora{
    top: 1300px;
    right: 1630px;
    
}
#hora2{
    top: 1300px;
    right: 1100px;
    
}
#hora3{
    top: 1300px;
    right: 575px;
    
}

#reparacion{
    top: 2200px;
    right: 1630px;
    
}

    </style>

<table>
    <td id="hora" class="logos"><img src="/capibara/src/assets/capiimagenes/horario.jpg" width="400"></td>
    
    <td id="horario2" class="logos"><img src="/capiimagenes/hora2.jpg" width="400"></td>

    <td id="hora3" class="logos"><img src="/capiimagenes/hora3.jpg" width="400"></td>

    <td id="reparacion" class="logos"><img src="/capiimagenes/reparacion.jpg" width="400"></td>
</table>