<style>

  #logos{
    position: absolute;
    top: 10px;
    left: 280px;
    width: 450px;
    height: 90px;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}


.redes{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
}

#icono1{
    top: 25px;
    right: 790px;
    
}
#icono2{
    top: 25px;
    right: 930px;
}

#icono3{
    top: 25px;
    right: 220px;
    
}

#icono4{
    top: 25px;
    right: 80px;
    
}
nav{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 48px;

}
</style>


    <div class="box"></div>
 
      <table >
        <div>
            <tr>

            <td id="icono1" class="redes"><img src="/capibara/capiimagenes/b7a4ea95-35f6-4742-b5af-af61bc5151e5.jpg" width="150"></td>

            <td id="icono2" class="redes"><img src="/capibara/capiimagenes/b7a4ea95-35f6-4742-b5af-af61bc5151e5.jpg" width="150"></td>

            <td id="logos" class="redes"><img src="/capiimagenes/logo.jpg" width="420" height="190"></td>

            <td id="icono3" class="redes"><img src="/capiimagenes/capiuser.png" width="150"></td>

            <td id="icono4" class="redes"><img src="/capiimagenes/capicarrito.png" width="150"></td>
            </tr>
        </div>
      </table>
   

    <h1 style="color: rgb(14, 21, 121);"  id="About" >About</h1>

    <article>
    <p id="parra"  style="color: rgb(5, 91, 167);" >Capibeas,es un pequeño emprendimiento de hama beads
    donde puedes pedir la figura que quieras para asi nosotros 
    traerla a la vida, en figuras puedes ver algunos ejemplos de 
    esta misma,en esta pagina solo podras encargar figuras ya echas, 
    si quieres una personalizada ve a nuestro instagram pulsando en el icono que se 
    encuentra abajo. Aqui te dejamos un mapa con la ubicacion de donde puedes encontrar 
    algunos de nuestros productos y unas imagenes del mismo.</p>  
    </article>