<div class="contac">
    <table border="2" cellspacing="3" cellpadding="8">
      <tr>
      <h1 class="contact">Contact</h1>
      <h1 class="contact">Contact Con CapiBeads</h1>
      <p class="contact">Los campos obligatorios se marcan con un <abbr title="required">*</abbr>.</p>
      </tr>  
    </table>
    
    <td><label for="username">Nombre:</label>
      <input class="username" id="username" type="text" name="username" />
      <label for="username">
      <abbr title="required" aria-label="required">*</abbr></label>
      </td>

    <table  border="2" cellspacing="3" cellpadding="8">
      <tr>
      <td><label for="Email" class="email">Email: <abbr title="required" aria-label="required">*</abbr></label>
      <input id="Email" type="email" name="Email"/>
      </td>
      </tr>
    </table>
    <br>
    <table border="2" cellspacing="3" cellpadding="8">
        <tr>
        <td><label for="Mensaje">
          <span>Mensaje:</span>
          <input id="Mensaje" type="text" name="Mensaje" />
          <abbr title="required" aria-label="required">*</abbr>
        </label></td>
        </tr>
    </table>
    <br>
        <button class="button" type="button" onclick="recogerDatos()">Enviar</button>
    </div>

    <app-footer></app-footer>