<style>
    .botones{
    float:left;
    left: 100px;
    margin-left: 0;
    height: 30px;
    width: 124px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 15px;
    color: rgb(221, 0, 0);
    line-height: 28px;
    text-align: center;
    display: inline;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
.botones1{
    float: left;
    margin-left: 0px;
    height: 30px;
    width: 184px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 15px;
    color: white;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
a .botones:hover{
    color: #3F2212;
    font-size: 18px;
}
.botones1:hover{
    color: #3F2212;
    font-size: 18px;
}
.botonesC{
    margin-left: 0;
    width: 240px;
    height: 53px;
    text-decoration-line: none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
.submenu{
    margin-left: 0;
    display: none;
    background-color: #e0ecff;
    background-color: transparent;
    line-height: 18px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: background-color .2s, color .2s;
}
nav ul li:hover .submenu{
    display: block;
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 15px;
}
nav ul li:hover .submenu ul a{
    color: white;
}
.submenu :hover{
    color: #3F2212;
}
.submenu ul li{
    width: 166;
    height: 36;
}
</style>


<nav>
    <ul>
    <a href="#"><li class="botones"><b class="home">Home</b></li></a>
        <a href="#"><li class="botones"><b>Shop</b></li></a>
        <a href="#"><li class="botones"><b>About</b></li></a>
        <a href="#"><li class="botones"><b>Carrito</b></li></a>
        <a href="#"><li class="botones"><b>Cuenta</b></li></a>
        <a href="#"><li class="botones"><b>Contac</b></li></a>
       
    </ul>
</nav>