*{
    padding: 2rem;
    color: white;
    text-align: center;
}
table {
    width: 100%;
}
th, td {
    width: 50%;
    text-align: center;
}
.texto-cell {
    padding: 70px; 
}
.imagen-cell{
    padding: 70px;
}