<div class="wrapper">
    <aside>
          <div class="CategoriasD">
          <ul>
            <li><button id="sin" class="categoria1 boton-categoria">Todos los Productos</button></li>
            <li><button id="accion" class="categoria boton-categoria">Accion</button></li>
            <li><button id="anime" class="categoria boton-categoria">Anime</button></li>
            <li><button id="minecraft" class="categoria boton-categoria">Minecraft</button></li>
            <li><button id="pokemon" class="categoria boton-categoria">Pokemon</button></li>
            <li><button id="south-park" class="categoria boton-categoria">South Park</button></li>
            <li><button id="valorant" class="categoria boton-categoria">Valorant</button></li>
          </ul>
          </div>
    </aside>
    <main>
     <h6 class="Inicio">Inicio / Shop</h6>
     <h1 class="Shop">Shop</h1>
     <h6 id="titulo-principal" class="resultados">Todos los Prodcutos</h6>
     <div id="contenedor_productos" class="contenedor_productos">
         
    </div>
    </main>
  </div>

  <div class="tool">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="bn btn-primary">1</button>
      <button type="button" class="bn btn-primary">2</button>
      <button type="button" class="bn btn-primary">3</button>
      <button type="button" class="bn btn-primary">4</button>
    </div>
  </div>